.App {
  text-align: center;
}

.App-header {
  background-color: #56535f;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 2vmin);
  color: rgb(255, 255, 255);
}

.API-connector {
  font-size: small;
  font-style: italic;
  color: rgb(255, 255, 255);
}

.App-link {
  color: #61dafb;
}
